<div
  class="adjustable-div"
  (window:resize)="onResize()"
  [ngStyle]="{ height: gridHeight + 'px' }">
  <div class="adjustable-div__pane">
    <ng-container
      *ngTemplateOutlet="containerOneTpl; context: containerOneHeightContext">
    </ng-container>
  </div>
  <div
    class="adjustable-div__handle d-flex justify-content-center align-items-center">
    <i
      (mousedown)="startResize()"
      class="eos-icons no-select adjustable-div__handle-icon"
      style="cursor: row-resize">
      drag_handle
    </i>
  </div>
  <div class="adjustable-div__pane">
    <ng-container
      *ngTemplateOutlet="containerTwoTpl; context: containerTwoHeightContext">
    </ng-container>
  </div>
</div>
