<ng-container *ngIf="!isScoreImprovement; else scoreImprovement">
  <app-network-rules-printable-report
    #networkRulePrintableReport
    *ngIf="isPrinting && eof && !isNetworkRuleDirty()"
    class="printable-area"
    [networkRules]="networkRules">
  </app-network-rules-printable-report>
  <div class="screen-area">
    <div
      class="d-flex justify-content-between align-items-center"
      *ngIf="
        source !== navSource['GROUP'] &&
        source !== navSource['FED_POLICY'] &&
        source !== navSource['FED_GROUP']
      ">
      <h1 class="font-weight-light" id="networkRulesTitle">
        {{ 'policy.head.TITLE' | translate }}
      </h1>

      <div
        class="network-rules-page-actions d-flex justify-content-end align-items-center">
        <button
          *ngIf="eof && networkRules.length > 1 && !isNetworkRuleDirty()"
          class=""
          mat-button
          (click)="print()">
          <em class="eos-icons icon-18">print</em>
        </button>
        <button
          *ngIf="eof && networkRules.length > 1 && !isNetworkRuleDirty()"
          class=""
          mat-button
          (click)="exportCsv()">
          <em class="eos-icons icon-18">csv_file</em>
        </button>
        <ng-container *ngIf="!isNetworkRuleDirty()">
          <app-loading-button
            (btnClick)="refresh()"
            [disabled]="!!(refreshing$ | async)"
            [appearance]="'mat-button'"
            [buttonClasses]="'d-flex justify-content-center align-items-center'"
            [iconClasses]="'eos-icons icon-18'"
            [iconName]="'refresh'"
            [id]="'networkRules-refresh-button'"
            [loading]="!!(refreshing$ | async)"
            [text]="'network.REFRESH' | translate"
            [type]="'button'">
          </app-loading-button>
        </ng-container>
      </div>
    </div>
    <div
      [ngClass]="{
        panel: source === navSource['SELF'],
        mb0: source === navSource['SELF'],
      }">
      <div [ngClass]="{ 'panel-body': source === navSource['SELF'] }">
        <div
          class="network-rules-toolbar"
          *ngIf="
            source !== navSource['GROUP'] && source !== navSource['FED_GROUP']
          ">
          <div class="network-rules-toolbar__meta">
            <div class="d-flex justify-content-start align-items-center">
              <span class="font-weight-bold text-info">
                <span *ngIf="filtered">
                  {{ 'enum.FOUND' | translate }}
                  {{ filteredCount }}&nbsp;/
                </span>
                <span *ngIf="!filtered">
                  {{ 'enum.OUT_OF' | translate }}&nbsp;
                </span>
                {{ ruleCount }}
              </span>
            </div>
            <div class="network-rules-toolbar__filters">
              <mat-button-toggle-group
                [value]="ruleSourceFilter"
                (change)="applyRuleSourceFilter($event.value)">
                <mat-button-toggle value="all">
                  {{ 'enum.ALL' | translate }}
                  ({{ ruleSourceCounts.all }})
                </mat-button-toggle>
                <mat-button-toggle value="auto">
                  {{ 'MICROSEGX.AUTO_POLICY.AUTO_RULES' | translate }}
                  ({{ ruleSourceCounts.auto }})
                </mat-button-toggle>
                <mat-button-toggle
                  *ngIf="ruleSourceCounts.legacy > 0"
                  value="legacy">
                  {{ 'MICROSEGX.AUTO_POLICY.LEGACY_RULES' | translate }}
                  ({{ ruleSourceCounts.legacy }})
                </mat-button-toggle>
                <mat-button-toggle value="legacy_preview">
                  {{ 'MICROSEGX.AUTO_POLICY.LEGACY_PREVIEW_RULES' | translate }}
                  ({{ ruleSourceCounts.legacyPreview }})
                </mat-button-toggle>
                <mat-button-toggle value="user">
                  {{ 'MICROSEGX.AUTO_POLICY.USER_RULES' | translate }}
                  ({{ ruleSourceCounts.user }})
                </mat-button-toggle>
              </mat-button-toggle-group>
              <div
                *ngIf="ruleSourceFilter === 'legacy_preview'"
                class="network-rules-toolbar__hint">
                {{ 'MICROSEGX.AUTO_POLICY.LEGACY_PREVIEW_HINT' | translate }}
              </div>
              <mat-button-toggle-group
                *ngIf="ruleSourceFilter === 'auto'"
                [value]="autoClassFilter"
                (change)="applyAutoClassFilter($event.value)">
                <mat-button-toggle value="all">
                  {{ 'enum.ALL' | translate }}
                </mat-button-toggle>
                <mat-button-toggle value="baseline">{{
                  autoPolicyClassLabel('baseline')
                }}</mat-button-toggle>
                <mat-button-toggle value="periodic">{{
                  autoPolicyClassLabel('periodic')
                }}</mat-button-toggle>
                <mat-button-toggle value="anomaly">{{
                  autoPolicyClassLabel('anomaly')
                }}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="network-rules-toolbar__actions">
            <div
              class="network-rules-toolbar__action-row d-flex justify-content-end align-items-center flex-wrap">
              <div class="network-rules-toolbar__selection-actions">
                <button
                  *ngIf="
                    selectedNetworkRules.length > 0 &&
                    isWriteGlobalRulesAuthorized &&
                    !isIncludingCRD &&
                    !isIncludingFed
                  "
                  mat-stroked-button
                  (click)="removeNetworkRules()">
                  <em class="eos-icons icon-18">delete</em>
                  {{ 'policy.toolBar.REMOVE' | translate }}
                </button>
                <button
                  *ngIf="
                    selectedNetworkRules.length > 0 &&
                    isWriteGlobalRulesAuthorized &&
                    !isIncludingCRD &&
                    !isIncludingFed
                  "
                  mat-stroked-button
                  (click)="openMoveNetworkRulesModal()">
                  <em class="eos-icons icon-18">move</em>
                  {{ 'policy.toolBar.MOVE_TO' | translate }}
                </button>
                <ng-container *appDisplayControl="'multi_cluster'">
                  <button
                    *ngIf="
                      selectedNetworkRules.length > 0 &&
                      !containsUnpromotableEndpoint &&
                      isWriteNetworkRuleAuthorized &&
                      source !== navSource['FED_POLICY'] &&
                      !isIncludingFed
                    "
                    mat-stroked-button
                    (click)="promoteRuleOnTop()">
                    <em class="eos-icons icon-18">navigation</em>
                    {{ 'policy.PROMOTE' | translate }}
                  </button>
                </ng-container>
                <button
                  *ngIf="isNetworkRuleDirty() && isWriteGlobalRulesAuthorized"
                  mat-stroked-button
                  (click)="refresh()">
                  <em class="eos-icons icon-18">replay</em>
                  {{ 'policy.toolBar.UNDO' | translate }}
                </button>
                <button
                  *ngIf="isNetworkRuleDirty() && isWriteGlobalRulesAuthorized"
                  mat-raised-button
                  color="primary"
                  (click)="submit()">
                  <em class="eos-icons icon-18">save</em>
                  {{ 'policy.toolBar.SAVE' | translate }}
                </button>
              </div>
              <div class="network-rules-toolbar__persistent-actions">
                <button
                  class="network-rules-toolbar__insert-button"
                  mat-stroked-button
                  *ngIf="isWriteNetworkRuleAuthorized"
                  (click)="addNetworkRuleToTop()">
                  <em class="eos-icons icon-18">add_circle</em>
                  {{ 'policy.toolBar.INSERT_TO_TOP' | translate }}
                </button>
              </div>
              <app-quick-filter
                class="network-rules-toolbar__filter"
                (filterCountChange)="filterCountChanged($event)"
                [gridOptions]="gridOptions"
                [gridApi]="gridApi"
                [showCount]="false">
              </app-quick-filter>
              <div
                *ngIf="filteredCount <= 1"
                class="network-rules-toolbar__spacer"></div>
              <ng-container
                *ngIf="
                  (eof || networkRuleErr) &&
                  !isNetworkRuleDirty() &&
                  source === navSource['FED_POLICY']
                ">
                <app-loading-button
                  (btnClick)="refresh()"
                  [appearance]="'mat-button'"
                  [buttonClasses]="'d-flex justify-content-center align-items-center'"
                  [iconClasses]="'eos-icons icon-18'"
                  [iconName]="'refresh'"
                  [id]="'networkRules-refresh-button'"
                  [text]="'network.REFRESH' | translate"
                  [type]="'button'">
                </app-loading-button>
              </ng-container>
            </div>
          </div>
        </div>

        <div *ngIf="source === navSource['GROUP']" class="clearfix">
          <app-quick-filter
            *ngIf="!useQuickFilterService"
            class="pull-right"
            [gridOptions]="gridOptions"
            [gridApi]="gridApi"
            [filteredCount]="filteredCount"
            [showCount]="false">
          </app-quick-filter>
        </div>
        <ag-grid-angular
          id="policy-grid"
          style="width: 100%"
          [ngStyle]="{
            height:
              (source === navSource['GROUP']
                ? resizableHeight - 90
                : gridHeight) + 'px',
          }"
          class="ag-theme-balham"
          [gridOptions]="gridOptions"
          [context]="context">
        </ag-grid-angular>

        <section
          *ngIf="selectedAutoRuleDetail as autoRule"
          class="network-rules-auto-detail">
          <div class="network-rules-auto-detail__headline">
            <div>
              <div class="network-rules-auto-detail__eyebrow">
                {{ 'MICROSEGX.AUTO_POLICY.TITLE' | translate }}
              </div>
              <h2>
                {{ autoRule.rule?.from || '--' }} ->
                {{ autoRule.rule?.to || '--' }}
              </h2>
            </div>
            <a
              mat-button
              color="primary"
              [routerLink]="['/microsegx/auto-policy']">
              {{ 'MICROSEGX.AUTO_POLICY.OPEN_WORKSPACE' | translate }}
            </a>
          </div>

          <div class="network-rules-auto-detail__chips">
            <span class="network-rules-auto-chip">{{
              autoPolicyClassLabel(autoRule.class)
            }}</span>
            <span class="network-rules-auto-chip">{{
              autoPolicyCompileStateLabel(autoRule.compile_state)
            }}</span>
            <span class="network-rules-auto-chip">
              {{ 'MICROSEGX.AUTO_POLICY.CONFIDENCE' | translate }}
              {{ autoRule.confidence | number: '1.2-2' }}
            </span>
          </div>

          <div class="network-rules-auto-detail__meta">
            <span>
              {{ autoPolicyActionLabel(autoRule.rule?.action) }} /
              {{
                autoRule.rule?.ports ||
                  (autoRule.rule?.applications || []).join(', ')
              }}
            </span>
            <span *ngIf="autoRule.last_observed_timestamp">
              {{ 'MICROSEGX.AUTO_POLICY.LAST_OBSERVED' | translate }}
              {{ formatAutoPolicyTimestamp(autoRule.last_observed_timestamp) }}
            </span>
            <span *ngIf="autoRule.expires_timestamp">
              {{ 'MICROSEGX.AUTO_POLICY.EXPIRES_AT' | translate }}
              {{ formatAutoPolicyTimestamp(autoRule.expires_timestamp) }}
            </span>
          </div>

          <div class="network-rules-auto-detail__reason">
            <strong>{{
              'MICROSEGX.AUTO_POLICY.REASON_CODES' | translate
            }}</strong>
            <span>{{ (autoRule.reason_codes || []).join(', ') || '--' }}</span>
          </div>
        </section>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #scoreImprovement>
  <div class="mt-2">
    <ag-grid-angular
      [ngStyle]="{ height: resizableHeight + 'px' }"
      [gridOptions]="gridOptions"
      [context]="context"
      id="score-improvement-policy-grid"
      style="width: 100%"
      class="ag-theme-balham">
    </ag-grid-angular>
  </div>
</ng-template>

<ng-template
  #readonlyNotification
  let-readonlyNotificationMsgs="readonlyNotification">
  <div [innerHTML]="readonlyNotificationMsgs.message"></div>
</ng-template>
