<div class="nv-dialog">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title class="mb-2">
      {{
        (data.opType === opTypeOptions.ADD
          ? 'waf.ruleModal.ADD_RULE'
          : 'waf.ruleModal.EDIT_RULE'
        ) | translate
      }}
    </h4>
    <button
      (click)="onCancel()"
      class="mb-2"
      aria-label="Close dialog"
      mat-icon-button>
      <i class="eos-icons">close</i>
    </button>
  </div>
  <hr class="fancy" />
  <div mat-dialog-content>
    <form [formGroup]="addEditRuleForm" class="rule-form">
      <div class="rule-form__grid rule-form__grid--meta">
        <mat-form-field class="rule-form__field rule-form__field--compact">
          <mat-label>{{ 'waf.sensorModal.SENSOR_NAME' | translate }}</mat-label>
          <input type="text" matInput formControlName="sensorName" readonly />
        </mat-form-field>
        <mat-form-field class="rule-form__field">
          <mat-label>{{ 'waf.sensorModal.COMMENT' | translate }}</mat-label>
          <input type="text" matInput formControlName="comment" readonly />
        </mat-form-field>
      </div>
      <div class="rule-form__grid rule-form__grid--name">
        <mat-form-field class="rule-form__field rule-form__field--compact">
          <mat-label>{{ 'waf.ruleModal.PATTERN_NAME' | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="ruleName"
            [readonly]="data.opType === opTypeOptions.EDIT"
            [attr.maxlength]="255" />
        </mat-form-field>
      </div>
      <hr class="solid margin-top-s margin-bottom-s" />
      <div class="rule-pattern-editor">
        <div class="rule-pattern-editor__fields">
          <mat-form-field class="rule-form__field rule-form__field--operator">
            <mat-label>{{
              'waf.patternGrid.LOGIC_IS_NOT' | translate
            }}</mat-label>
            <mat-select
              required
              [(ngModel)]="pattern.op"
              [ngModelOptions]="{ standalone: true }"
              [(value)]="pattern.op">
              <mat-option
                *ngFor="let operator of operators"
                [value]="operator.value">
                {{ operator.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="rule-pattern-editor__pattern">
            <mat-form-field class="rule-form__field">
              <mat-label>{{ 'waf.ruleModal.PATTERN' | translate }}</mat-label>
              <input
                matInput
                required
                type="text"
                [(ngModel)]="pattern.value"
                [ngModelOptions]="{ standalone: true }"
                (keyup)="initTestArea(pattern.value)"
                [attr.maxlength]="'general.FILTER_MAX_LEN' | translate" />
            </mat-form-field>
            <button
              type="button"
              class="primary-button hightlighted-button rule-pattern-editor__test-button"
              (click)="isShowingTestPattern = true"
              [disabled]="!pattern.value">
              {{ 'waf.sensorModal.TEST_BTN' | translate }}
            </button>
          </div>
          <mat-form-field class="rule-form__field rule-form__field--context">
            <mat-label>{{ 'waf.patternGrid.CONTEXT' | translate }}</mat-label>
            <mat-select
              matNativeControl
              required
              [(ngModel)]="pattern.context"
              [ngModelOptions]="{ standalone: true }"
              [(value)]="pattern.context">
              <mat-option *ngFor="let context of contexts" [value]="context">
                {{ context }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            type="button"
            class="primary-button hightlighted-button rule-pattern-editor__add-button"
            (click)="addPattern()">
            <em class="eos-icons icon-18">add</em>
          </button>
        </div>
        <mat-form-field
          *ngIf="isShowingTestPattern"
          class="rule-form__field rule-pattern-editor__test-area"
          appearance="outline">
          <mat-label>
            {{ 'waf.ruleModal.TEST' | translate }}
          </mat-label>
          <input
            matInput
            placeholder="{{ 'waf.ruleModal.TEST_INFO' | translate }}"
            type="text"
            [(ngModel)]="testCase"
            [ngModelOptions]="{ standalone: true }"
            (keyup)="testRegex(pattern.value, testCase)"
            (paste)="testRegex(pattern.value, testCase)" />
          <mat-hint *ngIf="isMatched" class="text-success">
            {{ testResult }}
          </mat-hint>
          <mat-hint *ngIf="!isMatched" class="text-danger">
            {{ testResult }}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="rule-pattern-editor__grid">
        <ag-grid-angular
          #wafPatternEditGrid
          id="waf-pattern-edit-grid"
          style="width: 100%; height: 220px"
          class="ag-theme-balham"
          [gridOptions]="gridOptions4EditPatterns"
          [context]="context">
        </ag-grid-angular>
        <div
          *ngIf="patternErrorMsg"
          class="rule-pattern-editor__error text-danger">
          {{ patternErrorMsg }}
        </div>
      </div>
      <div
        class="rule-form__actions d-flex justify-content-end align-items-center mt-2">
        <button
          type="button"
          mat-stroked-button
          aria-label="cancel"
          class="me-2"
          (click)="onCancel()">
          {{ 'waf.ruleModal.CANCEL' | translate }}
        </button>
        <app-loading-button
          [appearance]="'mat-raised-button'"
          [color]="'primary'"
          [loading]="submittingUpdate"
          [text]="
            (data.opType === opTypeOptions.EDIT
              ? 'waf.ruleModal.UPDATE'
              : 'waf.ruleModal.ADD'
            ) | translate
          "
          (btnClick)="updateRule()">
        </app-loading-button>
      </div>
    </form>
  </div>
</div>
