<mat-card class="margin-bottom-m dashboard-card exposure-panel-card">
  <mat-card-title
    class="d-flex align-items-center justify-content-between exposure-panel-card__title">
    <div class="d-flex align-items-center justify-content-start">
      {{ 'dashboard.body.panel_title.CONTAINER_SEC' | translate }}
      <ng-container *ngIf="isIpMapReady">
        <app-loading-button
          *ngIf="scoreInfo.ingress.length > 0 || scoreInfo.egress.length > 0"
          style="margin-top: -6px"
          (btnClick)="downloadExposureConversationCsv()"
          [text]="'dashboard.body.panel_title.EXPO_CONV_RPT' | translate"
          appearance="mat-button"
          [disabled]="
            dashboardExposureConversationsService.isLoadingExposureConversation
          "
          [loading]="
            dashboardExposureConversationsService.isLoadingExposureConversation
          "
          buttonClasses="d-flex justify-content-center align-items-center"
          iconClasses="eos-icons"
          iconName="csv_file">
        </app-loading-button>
      </ng-container>
    </div>
    <app-panel-instruction-curtain
      class="d-flex align-items-center justify-content-end"
      [instructions]="instructions">
    </app-panel-instruction-curtain>
  </mat-card-title>
  <mat-card-content class="exposure-panel-card__content">
    <div class="exposure-panel-card__chart">
      <app-exposure-chart
        [ingress]="hierarchicalIngressList"
        [egress]="hierarchicalEgressList">
      </app-exposure-chart>
    </div>
    <div class="exposure-panel-card__grid">
      <app-exposure-grid
        [isIpMapReady]="isIpMapReady"
        [source]="'exposure-panel'"
        [ingress]="hierarchicalIngressList"
        [egress]="hierarchicalEgressList">
      </app-exposure-grid>
    </div>
  </mat-card-content>
</mat-card>
